// Variables
$breakpoint-wide: 30em;
$color-green-light: #d7f69e;
$transition-fast: 125ms;
$transition-slow: 500ms;
$transparancy-slight: 0.35;


// Download styling
a[download] {
  background-color: transparent;
  border-bottom: 1px solid transparentize($color-green-light, $transparancy-slight);
  box-shadow: inset 0 -0.4rem 0 transparentize($color-green-light, $transparancy-slight);
  color: $color-green-light;
  font-size: 1.25em;
  font-weight: 500;
  letter-spacing: 0.025em;
  text-decoration: none;
  transition: box-shadow ease-in-out $transition-fast; 

  // States
  &:focus,
  &:hover {
    border-bottom: none;
    box-shadow: none;
    transition: box-shadow ease-in-out $transition-fast;
  }
  
  // Media Queries
  @media screen and (min-width: $breakpoint-wide) {
    font-size: 1.5em;
  }
}